* { 
    margin: 0;
    box-sizing: border-box;  
}

.wrapper{
    width: auto;
    margin: 0 auto;
    padding: 0 80px;        
}
.welcome{
    /* WELCOME TO AGME */

  position: absolute;
  width: 1001px;
  height: 96px;
  left: 230px;
  top: 300px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 100px;
  /* or 114% */
  text-align: center;
  text-transform: capitalize;

  color: #FFFFFF;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
 
}
.tagline{
position: absolute;
width: 1001px;
height: 96px;
left: 230px;
top: 400px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 100px;
/* or 114% */
text-align: center;
letter-spacing: 0.5em;
text-transform: capitalize;

color: #FFFFFF;
text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}

.login-form{  
      /* Auto Layout */
      display: flex;
      flex-direction: column;
      padding: 0px;
      font-family: Roboto;
      position: absolute; 
      width: 950px;
      height: 310px;
      left: 300px;
      top: 150px;
      color: #FFFFFF;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
} 

.Signup{
      /* Auto Layout */
      display: flex;
      flex-direction: column;
      padding: 0px;
      font-family: Roboto;
      position: absolute;
      width: 950px;
      height: 310px;
      left: 300px;
      top: 150px;
      color: #FFFFFF;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.makeBooking-header{
  /* Make a Booking */

position: absolute;
width: 100%;
height: 96px;
top: 150px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 120px;
line-height: 150px;
text-align: center;


color: #FFFFFF;
text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 

}


/*
@font-face{
  font-family: "Rokkitt";
  src: url("./Rokkitt-VariableFont_wght.ttf");
}
@font-face{
  font-family: "Sanchez";
  src: url("./Sanchez-Regular.ttf");
}


.login-heading{
    font-family: "Rokkitt";
    margin: 0 auto;
    justify-items: right;

}

.main-heading{
  font-family: "Rokkitt";
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
}




.signup-form{  
   
  justify-content: center;
  align-items: center;
  font-family: "Rokkitt";

}
* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v22_39 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_40 {
  width: 100%;
  height: 891px;
  background: rgba(245,142,255,1);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 0px;
}
.v22_41 {
  width: 100%;
  height: 2px;
  background: rgba(0,0,0,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 12px;
  border: 0.5px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v22_42 {
  width: 100%;
  height: 36px;
  background: rgba(0,0,0,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.v22_43 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 56px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_44 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 212px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_45 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 447px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_46 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 688px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_47 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 917px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_48 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 1093px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_49 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 1318px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_50 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 1206px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_52 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 679px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_53 {
  width: 80px;
  color: rgba(255,157,11,1);
  position: absolute;
  top: 16px;
  left: 1242px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_62 {
  width: 318px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 143px;
  left: 561px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v22_59 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 1352px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_60 {
  width: 100px;
  height: 100px;
  background: url("../Images/Signup_O.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1341px;
  overflow: hidden;
}
.v22_61 {
  width: 100%;
  height: 836px;
  background: rgba(255,157,11,0.5);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 0px;
}
.v28_4 {
  width: 692px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 401px;
  border: 3px solid rgba(197,197,197,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v28_3 {
  width: 693px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 400px;
  border: 3px solid rgba(197,197,197,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v28_5 {
  width: 693px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 400px;
  border: 3px solid rgba(197,197,197,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v28_10 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 405px;
  left: 401px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_11 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 519px;
  left: 400px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_9 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 291px;
  left: 405px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_17 {
  width: 287px;
  height: 45px;
  /* Rectangle 1 */
  /*
  position: absolute;
  width: 1440px;
  height: 836.5px;
  left: 0px;
  top: 189px;
  background: rgba(255, 158, 12, 0.5);
  background: url("../Images/Singup_P.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 602px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v28_18 {
  width: 287px;
  height: 45px;
  background: rgba(255,157,11,0.7799999713897705);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v28_19 {
  width: 104px;
  color: rgba(49,49,49,1);
  position: absolute;
  top: 9px;
  left: 102px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v46_31 {
  width: 187px;
  height: 37px;
  background: url("../Images/Main_O.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 964px;
  left: 653px;
  overflow: hidden;
}
.v46_32 {
  width: 89px;
  color: url("../Images/Main2_P.svg");
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Ropa Sans;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v46_33 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 98px;
  overflow: hidden;
}
.v46_34 {
  width: 25px;
  height: 25px;
  background: url("../Images/Login_P.svg");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v46_35 {
  width: 20px;
  height: 20px;
  background: rgba(255,232,199,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v46_36 {
  width: 28px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 128px;
  overflow: hidden;
}
.v46_37 {
  width: 21px;
  height: 21px;
  background: url("../Images/Main_O.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v46_38 {
  width: 21px;
  height: 21px;
  background: rgba(255,232,199,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v46_39 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 161px;
  overflow: hidden;
}
.v46_40 {
  width: 21px;
  height: 18px;
  background: url("../Images/Main_P.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  overflow: hidden;
}
.v46_41 {
  width: 21px;
  height: 18px;
  background: rgba(255,232,199,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v22_9 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_10 {
  width: 100%;
  height: 881px;
  background: rgba(245,142,255,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 11px;
}
.v22_12 {
  width: 100%;
  height: 36px;
  background: rgba(0,0,0,0.7900000214576721);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.v22_13 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 56px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_14 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 212px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_15 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 447px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_16 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 688px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_17 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 917px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_18 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 1093px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_19 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 1318px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_20 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 1206px;
  font-family: Sanchez;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v22_30 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1340px;
  overflow: hidden;
}
.v22_74 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 143px;
  left: 591px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v22_31 {
  width: 761px;
  height: 837px;
  background: rgba(255,157,11,0.5);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 2px;
}
.v28_0 {
  width: 691px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 400px;
  border: 3px solid rgba(197,197,197,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_1 {
  width: 691px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 518px;
  left: 400px;
  border: 3px solid rgba(197,197,197,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_6 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 357px;
  left: 410px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_7 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 491px;
  left: 410px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_15 {
  width: 260px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 584px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v28_16 {
  width: 260px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_14 {
  width: 260px;
  height: 45px;
  background: rgba(255,157,11,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,232,199,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_13 {
  width: 94px;
  color: rgba(49,49,49,1);
  position: absolute;
  top: 9px;
  left: 94px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v28_27 {
  width: 214px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 485px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v28_20 {
  width: 214px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_21 {
  width: 214px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_22 {
  width: 214px;
  height: 45px;
  background: rgba(255,157,11,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,232,199,1);
  overflow: hidden;
}
.v28_23 {
  width: 136px;
  color: rgba(49,49,49,1);
  position: absolute;
  top: 14px;
  left: 53px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v28_24 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 19px;
  overflow: hidden;
}
.v28_25 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_26 {
  width: 20px;
  height: 20px;
  background: rgba(255,122,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v73_0 {
  width: 243px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 738px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v73_1 {
  width: 243px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_2 {
  width: 243px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_3 {
  width: 243px;
  height: 45px;
  background: rgba(255,157,11,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,232,199,1);
  overflow: hidden;
}
.v73_4 {
  width: 162px;
  color: rgba(49,49,49,1);
  position: absolute;
  top: 14px;
  left: 48px;
  font-family: Rokkitt;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v46_20 {
  width: 187px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 969px;
  left: 622px;
  overflow: hidden;
}
.v46_21 {
  width: 89px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Ropa Sans;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v46_22 {
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 98px;
  overflow: hidden;
}
.v46_23 {
  width: 25px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v46_24 {
  width: 20px;
  height: 20px;
  background: rgba(255,232,199,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v46_25 {
  width: 28px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 128px;
  overflow: hidden;
}
.v46_26 {
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v46_27 {
  width: 21px;
  height: 21px;
  background: rgba(255,232,199,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v46_28 {
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 161px;
  overflow: hidden;
}
.v46_29 {
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  overflow: hidden;
}
.v46_30 {
  width: 21px;
  height: 18px;
  background: rgba(255,232,199,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*
* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v22_39 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v22_40 {
    width: 100%;
    height: 891px;
    background: rgba(245,142,255,1);
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 0px;
  }
  .v22_41 {
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 12px;
    border: 0.5px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v22_42 {
    width: 100%;
    height: 36px;
    background: rgba(0,0,0,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 72px;
    left: 0px;
    overflow: hidden;
  }
  .v22_43 {
    width: 73px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 56px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_44 {
    width: 152px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 212px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_45 {
    width: 128px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 447px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_46 {
    width: 116px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 688px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_47 {
    width: 85px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 917px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_48 {
    width: 48px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 1093px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_49 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 1318px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_50 {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 1206px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_52 {
    width: 74px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15px;
    left: 679px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v22_53 {
    width: 80px;
    color: rgba(255,157,11,1);
    position: absolute;
    top: 16px;
    left: 1242px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v22_62 {
    width: 318px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 143px;
    left: 561px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v22_59 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 1352px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v22_60 {
    width: 100px;
    height: 100px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 1341px;
    overflow: hidden;
  }
  .v22_61 {
    width: 100%;
    height: 836px;
    background: rgba(255,157,11,0.5);
    opacity: 1;
    position: absolute;
    top: 187px;
    left: 0px;
  }
  .v28_4 {
    width: 692px;
    height: 61px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 319px;
    left: 401px;
    border: 3px solid rgba(197,197,197,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_3 {
    width: 693px;
    height: 61px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 432px;
    left: 400px;
    border: 3px solid rgba(197,197,197,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_5 {
    width: 693px;
    height: 61px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 547px;
    left: 400px;
    border: 3px solid rgba(197,197,197,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_10 {
    width: 146px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 405px;
    left: 401px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_11 {
    width: 169px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 519px;
    left: 400px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_9 {
    width: 58px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 291px;
    left: 405px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_17 {
    width: 287px;
    height: 45px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 648px;
    left: 602px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v28_18 {
    width: 287px;
    height: 45px;
    background: rgba(255,157,11,0.7799999713897705);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_19 {
    width: 104px;
    color: rgba(49,49,49,1);
    position: absolute;
    top: 9px;
    left: 102px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_31 {
    width: 187px;
    height: 37px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 964px;
    left: 653px;
    overflow: hidden;
  }
  .v46_32 {
    width: 89px;
  
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Ropa Sans;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v46_33 {
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 98px;
    overflow: hidden;
  }
  .v46_34 {
    width: 25px;
    height: 25px;
    
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v46_35 {
    width: 20px;
    height: 20px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .v46_36 {
    width: 28px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 128px;
    overflow: hidden;
  }
  .v46_37 {
    width: 21px;
    height: 21px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v46_38 {
    width: 21px;
    height: 21px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v46_39 {
    width: 26px;
    height: 26px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 161px;
    overflow: hidden;
  }
  .v46_40 {
    width: 21px;
    height: 18px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 2px;
    overflow: hidden;
  }
  .v46_41 {
    width: 21px;
    height: 18px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v6_0 {
    width: 100%;
    height: 2048px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v28_37 {
    width: 100%;
    height: 891px;
    background: rgba(245,142,255,1);
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 0px;
  }
  .v13_52 {
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 12px;
    border: 0.5px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v13_55 {
    width: 100%;
    height: 36px;
    background: rgba(0,0,0,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 72px;
    left: 0px;
    overflow: hidden;
  }
  .v13_56 {
    width: 73px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 56px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_59 {
    width: 152px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 212px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_60 {
    width: 128px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 447px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_63 {
    width: 116px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 688px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_64 {
    width: 85px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 525px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_61 {
    width: 48px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 349px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_57 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 124px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_58 {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 236px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v13_68 {
    width: 74px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 679px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v13_71 {
    width: 80px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 200px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v13_81 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 90px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v13_109 {
    width: 100px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 102px;
    overflow: hidden;
  }
  .v13_100 {
    width: 100%;
    height: 836px;
    background: rgba(255,157,11,0.5);
    opacity: 1;
    position: absolute;
    top: 189px;
    left: 0px;
  }
  .v13_101 {
    width: 518px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 563px;
    left: 72px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v13_102 {
    width: 691px;
    height: 61px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 563px;
    left: 649px;
    border: 3px solid rgba(197,197,197,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v13_103 {
    width: 38px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 575px;
    left: 668px;
    overflow: hidden;
  }
  .v13_104 {
    width: 38px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v13_105 {
    width: 27px;
    height: 27px;
    background: rgba(172,172,172,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 5px;
  }
  .v13_106 {
    width: 442px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 383px;
    left: 85px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 144px;
    opacity: 1;
    text-align: left;
  }
  .v35_7 {
    width: 524px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 576px;
    left: 713px;
    font-family: Ropa Sans;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v62_102 {
    width: 100%;
    height: 1025px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1023px;
    left: 0px;
    overflow: hidden;
  }
  .v62_85 {
    width: 100%;
    height: 891px;
    background: rgba(245,142,255,1);
    opacity: 1;
    position: absolute;
    top: 134px;
    left: 0px;
  }
  .v62_86 {
    width: 100%;
    height: 836px;
    background: rgba(255,157,11,0.5);
    opacity: 1;
    position: absolute;
    top: 838px;
    left: 1440px;
    transform: rotate(-179deg);
  }
  .v62_87 {
    width: 599px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 450px;
    left: 688px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v62_88 {
    width: 451px;
    height: 414px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 287px;
    left: 151px;
    overflow: hidden;
  }
  .v62_89 {
    width: 451px;
    height: 414px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v62_90 {
    width: 338px;
    height: 345px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 57px;
  }
  .v62_91 {
    width: 187px;
    height: 37px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 961px;
    left: 616px;
    overflow: hidden;
  }
  .v62_92 {
    width: 89px;
  
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Ropa Sans;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v62_93 {
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 98px;
    overflow: hidden;
  }
  .v62_94 {
    width: 25px;
    height: 25px;
  
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v62_95 {
    width: 20px;
    height: 20px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
  }
  .v62_96 {
    width: 28px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 128px;
    overflow: hidden;
  }
  .v62_97 {
    width: 21px;
    height: 21px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v62_98 {
    width: 21px;
    height: 21px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v62_99 {
    width: 26px;
    height: 26px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 161px;
    overflow: hidden;
  }
  .v62_100 {
    width: 21px;
    height: 18px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 2px;
    overflow: hidden;
  }
  .v62_101 {
    width: 21px;
    height: 18px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v22_39 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v22_40 {
    width: 100%;
    height: 891px;
    background: rgba(245,142,255,1);
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 0px;
  }
  .v22_41 {
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 12px;
    border: 0.5px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v22_42 {
    width: 100%;
    height: 36px;
    background: rgba(0,0,0,0.7900000214576721);
    opacity: 1;
    position: absolute;
    top: 72px;
    left: 0px;
    overflow: hidden;
  }
  .v22_43 {
    width: 73px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 56px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_44 {
    width: 152px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 212px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_45 {
    width: 128px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 447px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_46 {
    width: 116px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 688px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_47 {
    width: 85px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 917px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_48 {
    width: 48px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 1093px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_49 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 1318px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_50 {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 81px;
    left: 1206px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v22_52 {
    width: 74px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15px;
    left: 679px;
    font-family: Sanchez;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v22_53 {
    width: 80px;
    color: rgba(255,157,11,1);
    position: absolute;
    top: 16px;
    left: 1242px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v22_62 {
    width: 318px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 143px;
    left: 561px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v22_59 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 1352px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v22_60 {
    width: 100px;
    height: 100px;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 1341px;
    overflow: hidden;
  }
  .v22_61 {
    width: 100%;
    height: 836px;
    background: rgba(255,157,11,0.5);
    opacity: 1;
    position: absolute;
    top: 187px;
    left: 0px;
  }
  .v28_4 {
    width: 692px;
    height: 61px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 319px;
    left: 401px;
    border: 3px solid rgba(197,197,197,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_3 {
    width: 693px;
    height: 61px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 432px;
    left: 400px;
    border: 3px solid rgba(197,197,197,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_5 {
    width: 693px;
    height: 61px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 547px;
    left: 400px;
    border: 3px solid rgba(197,197,197,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_10 {
    width: 146px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 405px;
    left: 401px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_11 {
    width: 169px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 519px;
    left: 400px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_9 {
    width: 58px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 291px;
    left: 405px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_17 {
    width: 287px;
    height: 45px;
 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 648px;
    left: 602px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v28_18 {
    width: 287px;
    height: 45px;
    background: rgba(255,157,11,0.7799999713897705);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v28_19 {
    width: 104px;
    color: rgba(49,49,49,1);
    position: absolute;
    top: 9px;
    left: 102px;
    font-family: Rokkitt;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_31 {
    width: 187px;
    height: 37px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 964px;
    left: 653px;
    overflow: hidden;
  }
  .v46_32 {
    width: 89px;
 
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Ropa Sans;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  .v46_33 {
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 98px;
    overflow: hidden;
  }
  .v46_34 {
    width: 25px;
    height: 25px;

    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v46_35 {
    width: 20px;
    height: 20px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .v46_36 {
    width: 28px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 128px;
    overflow: hidden;
  }
  .v46_37 {
    width: 21px;
    height: 21px;
 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v46_38 {
    width: 21px;
    height: 21px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v46_39 {
    width: 26px;
    height: 26px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 161px;
    overflow: hidden;
  }
  .v46_40 {
    width: 21px;
    height: 18px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 2px;
    overflow: hidden;
  }
  .v46_41 {
    width: 21px;
    height: 18px;
    background: rgba(255,232,199,0.5199999809265137);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  */