

.login-form{

    width:70%;
    margin: 0 auto;
}

@font-face{
    font-family: 'Rokkitt';
    src: local("./Rokkitt-VariableFont_wght.ttf");
}

.login-heading{
    font-family: Rokkitt;
    margin: 0 auto;
    justify-items: right;

}


.signup-form{

    width:70%;
    margin: 0 auto;
}